<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Kaution - Teste</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    {{{body}}}
  </div>
</body>
</html>
